<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://csv.me12.big.tuwien.ac.at/1.0"
            class="at.ac.tuwien.big.me12.csv.csvmm.CSVPackage"
            genModel="model/csv.genmodel"/>
   </extension>

</plugin>
